---
---
# Aula 1: começando com python do zero
---
---

## 1. O problema de negócio
---

### O que a empresa faz

A empresa House Rocket possui uma plataforma de compra e venda de imóveis.

### Problema

O CEO da empresa gostaria de maximizar o lucro da empresa encontrando bons negócios.

### Principal estratégia

Retirar de fontes externas para encontrar bons negócios.

### Primeiras perguntas do CEO

1. Quantas casas estão disponíveis para compra?
2. Quantos atributos as casas possuem?
3. Quais são os atributos das casas?
4. Qual a casa mais cara ( casa com o maior valor de venda )?
5. Qual a casa com o maior número de quartos?
6. Qual a soma total de quartos do conjunto de dados?
7. Quantas casas possuem 2 banheiros?
8. Qual o preço médio de todas as casas no conjunto de dados?
9. Qual o preço médio de casas com 2 banheiros?
10. Qual o preço mínimo entre as casas com 3 quartos?
11. Quantas casas possuem mais de 300 metros quadrados na sala de estar?
12. Quantas casas tem mais de 2 andares?
13. Quantas casas tem vista para o mar?
14. Das casas com vista para o mar, quantas tem 3 quartos?
15. Das casas com mais de 300 metros quadrados de sala de estar, quantas tem mais de 2 banheiros?

## 2. Planejando a solução
---

### Produto final

Texto com as respostas, denotando por "Pergunta | Resposta".

### Procedimento para a resolução

#### 1. Onde está a informação?

No Kaggle, seguido por [este](https://www.kaggle.com/harlfoxem/housesalesprediction) link.

#### 2. Como coletar os dados?

Download do site.

#### 3. Como responder as perguntas?

**1. Quantas casas estão disponíveis para compra?**

**R:** Contar o numero de linhas do conjunto de dados.

**2. Quantos atributos as casa possuem? ( numero de quartos, garagens, m2, vista pro mar )**

**R:** Contar o numero de colunas do conjunto de dados.

**3. Quais são os atributos?**

**R:** Mostrar o nome das colunas ( automatica ).

**4. Qual a casa mais cara do portfólio ( casa com maior valor )?**

**R:** Ordenar as linhas pela coluna de preco ( atributos ).

**5. Qual a casa com o maior número de quartos?**

**R:** Contar o numero de linhas pela coluna numero de quartos ( atributo ).

**6. Qual a soma total de quartos do conjunto de dados?**

**R:** Somar todos os valores na coluna numero de quartos.

**7. Quantas casas possuem 2 banheiros?**

**R:** Fazer um slice das casas que possuem apenas 2 banheiros e depois contar quantas linhas tem este novo conjunto de dados.

**8. Qual o preço médio de todas as casas no conjunto de dados?**

**R:** Fazer a média da coluna de preços.

**9. Qual o preço médio de casas com 2 banheiros?**

**R:** Pegar o mesmo dataframe da pergunta 7 e fazer a média da coluna de preços.

**10. Qual o preço mínimo entre as casas com 3 quartos?**

**R:** Fazer um slice das casas com 3 quartos e tirar a média da coluna de preços.

**11. Quantas casas possuem mais de 300 metros quadrados na sala de estar?**

**R:** Fazer um slice das casas que possuem mais de 300 metros quadrados na sala de estar e contar o total de linhas depois.

**12. Quantas casas tem mais de 2 andares?**

**R:** Fazer um slice das casas que possuem mais de 2 andares e contar o total de linhas.

**13. Quantas casas tem vista para o mar?**

**R:** Fazer um slice das casas que tem vista para o mar e contar o total de linhas.

**14. Das casas com vista para o mar, quantas tem 3 quartos?**

**R:** Pegar o dataframe criado na pergunta anterior, fazer um slice das que apresentam 3 quartos e contar o total de linhas.

**15. Das casas com mais de 300 metros quadrados de sala de estar, quantas tem mais de 2 banheiros?**

**R:** Pegar o dataframe criado na pergunta 11, fazer um slice das que possuem mais de 2 banheiros e contar o total de linhas.

## Importing files
---

In [26]:
# Importando as bibliotecas
import pandas as pd

In [8]:
# Importando os dados
path = 'C:/Users/Emerson/Documents/Jupyter Projects/pthon_do_zero_ao_ds/datasets/kc_house_data.csv'
df = pd.read_csv(path)
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

## Respondendo as perguntas de Negócio
---

### 1. Quantas casas estão disponíveis para compra?

In [9]:
print(f"Existem {len(df['id'].unique())} casas.")

Existem 21436 casas.

Será que o tamanho do nosso *dataframe* bate com o número de `id`'a únicos? Vamos confirmar isso.

In [10]:
print(f"O nosso dataframe possui {df.shape[0]} linhas.")
print(f"Existem portanto, {df.shape[0] - len(df['id'].unique())} casas repetidas em nosso dataframe!")

O nosso dataframe possui 21613 linhas.
Existem portanto, 177 casas repetidas em nosso dataframe!

Muito provavelmente são as mesmas casas, porém devem ter sofrido alterações nos preços por conta de alguma variável, como por exemplo, a data que ficaram a venda.

### 2. Quantos atributos as casas possuem?

In [11]:
# id e date não são atributos das casas, e sim do sistema de cadastros
print(f"Existem {df.shape[1] - 2} atributos.")

Existem 19 atributos.

### 3. Quais são os atributos das casas?

In [12]:
print("Os atributos das casas são:")
print(list(df.columns.drop(['id', 'date'])))

Os atributos das casas são:
['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15']

### 4. Qual a casa mais cara ( casa com o maior valor de venda )?

In [13]:
display(df.sort_values('price', ascending=False).head(1))

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
7252,6762700020,20141013T000000,7700000.0,6,8.0,12050,27600,2.5,0,3,...,13,8570,3480,1910,1987,98102,47.6298,-122.323,3940,8800

### 5. Qual a casa com o maior número de quartos?

In [14]:
display(df.sort_values('bedrooms', ascending=False).head(1))

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
15870,2402100895,20140625T000000,640000.0,33,1.75,1620,6000,1.0,0,0,...,7,1040,580,1947,0,98103,47.6878,-122.331,1330,4700

Podemos notar que, neste dataset, a casa que possui o **maior número de quartos não necessariamente possui o maior preço**!

### 6. Qual a soma total de quartos do conjunto de dados?

In [15]:
print(f"A soma total de quartos neste conjunto é de {df['bedrooms'].sum()}.")

A soma total de quartos neste conjunto é de 72854.

Mas qual seria o verdadeiro propósito de saber isso? Uma utilidade que pensei, foi descobrir o valor **médio** e **mediano** do número de quartos, e desse modo, podemos ter uma noção geral desta variável, resumindo como uma medida de tendência central.

In [16]:
print(f"Média de quartos por casa: {df['bedrooms'].mean()}")
print(f"Mediana de quartos por casa: {df['bedrooms'].median()}")

Média de quartos por casa: 3.37084162309721
Mediana de quartos por casa: 3.0

Como podemos ver acima, os valores centrais estão bem distantes da casa que possui o maior número de casas, esta sendo **11 vezes a média e a mediana**, aproximadamente.

### 7. Quantas casas possuem 2 banheiros?

In [17]:
houses_with_2_bathrooms = df.query('bathrooms == 2')
print(f"Existem {len(houses_with_2_bathrooms)} casas com 2 banheiros neste conjunto de dados.")
print(f"Isso representa {round(len(houses_with_2_bathrooms) / len(df) * 100, 2)}% em relação ao total de linhas!")

Existem 1930 casas com 2 banheiros neste conjunto de dados.
Isso representa 8.93% em relação ao total de linhas!

### 8. Qual o preço médio de todas as casas no conjunto de dados?

In [18]:
print(f"O preço médio de todas as casas no dataframe é de ${round(df['price'].mean(), 2)}.")

O preço médio de todas as casas no dataframe é de $540088.14.

### 9. Qual o preço médio de casas com 2 banheiros?

In [19]:
print(f"O preço médio das casas com 2 banheiros no dataframe é de ${round(houses_with_2_bathrooms['price'].mean(), 2)}.")

O preço médio das casas com 2 banheiros no dataframe é de $457889.72.

Portanto possuem um **preço médio menor**, quando comparado com o total de casas.

### 10. Qual o preço mínimo entre as casas com 3 quartos?

In [20]:
houses_with_3_bedrooms = df.query('bedrooms == 3')
print(f"O preço mínimo entre as casas com 3 quartos é de ${min(houses_with_3_bedrooms['price'])}")

O preço mínimo entre as casas com 3 quartos é de $82000.0

### 11. Quantas casas possuem mais de 300 metros quadrados na sala de estar?

In [21]:
# sqrt_living é a variável que indica a resposta para a pergunta
houses_with_more_than_300m2_livingroom = df.query('sqft_living > 300')
print(f"Existem {len(houses_with_more_than_300m2_livingroom)} casas, neste dataframe, com mais de 300 metros quadrados na sala de estar.")
print(f"Uma porcentagem de {round(len(houses_with_more_than_300m2_livingroom) / len(df) * 100, 3)}% em relação ao total de casas que possuem mais de 300 metros quadrados. Ou seja, quase todas.")

Existem 21612 casas, neste dataframe, com mais de 300 metros quadrados na sala de estar.
Uma porcentagem de 99.995% em relação ao total de casas que possuem mais de 300 metros quadrados. Ou seja, quase todas.

### 12. Quantas casas tem mais de 2 andares?

In [22]:
print(f"Existem {len(df.query('floors > 2'))} casas com mais de 2 andares.")
print(f"Uma porcentagem de {round(len(df.query('floors > 2'))/len(df)*100, 2)}% em relação ao total de casas no conjunto.")

Existem 782 casas com mais de 2 andares.
Uma porcentagem de 3.62% em relação ao total de casas no conjunto.

### 13. Quantas casas tem vista para o mar?

In [23]:
df_with_waterfront = df.query('waterfront == 1')
print(f"Existem {len(df_with_waterfront)} casas com vista para o mar.")
print(f"Uma porcentagem de {round(len(df_with_waterfront)/len(df)*100, 2)}% em relação ao total de casas no conjunto.")

Existem 163 casas com vista para o mar.
Uma porcentagem de 0.75% em relação ao total de casas no conjunto.

### 14. Das casas com vista para o mar, quantas tem 3 quartos?

In [24]:
print(f"Existem {len(df_with_waterfront.query('bedrooms == 3'))} casas com 3 quartos e vista para o mar.")
print(f"Ou seja, {round(len(df_with_waterfront.query('bedrooms == 3'))/len(df)*100, 2)}% em relação ao total de casas.")

Existem 64 casas com 3 quartos e vista para o mar.
Ou seja, 0.3% em relação ao total de casas.

### 15. Das casas com mais de 300 metros quadrados de sala de estar, quantas tem mais de 2 banheiros?

In [25]:
wanted_houses = houses_with_more_than_300m2_livingroom.query('bathrooms > 2')
print(f"Existem {len(wanted_houses)} casas com mais de 300 metros quadrados de sala de estar e mais de 2 banheiros.")
print(f"Representando, assim, {round(len(wanted_houses)/len(df)*100, 2)}% do total de casas no dataset.")

Existem 11242 casas com mais de 300 metros quadrados de sala de estar e mais de 2 banheiros.
Representando, assim, 52.01% do total de casas no dataset.